* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

html {
    font-size: 62.5%;
    width: 100vw;
    height: 100vh;
    background-image: url("images/4k-network-concepts-blue-abstract-background-lines-digital-art.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#div1 {
    background-color: rgba(20, 20, 16, 0.377);
    padding-top: 1%;
    font-size: 400%;
    text-align: center;
    position: static;
}

li {
    color: rgba(243, 237, 237, 0.685);
    font-weight: bold;
    display: inline;
    margin-left: 10%;
        
}
#li1 {
    margin-left: -3%;
}

#prelude {
    color: beige;
    
}